#Events{
    color: white;
    border: 1px solid white ;
    border-radius: 8px;
    padding: 1rem;
    width: 70vw;
    padding-bottom: 3px;
}
#Events .heading{
    text-align: center;
    background: white;
    color: red;
    margin: -16px;
    padding: 22px;
    border-radius: 5px;
    margin-bottom: -3px;
}

#events-container > div{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid;
}

#Events .left{
    width: 40%;
    /* border-right: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Events .right{
    width: 60%;
    max-height: 93px;
}
#Events .date{
    font-size: 21px;
}
#Events .name{
    font-size: 21px;
    font-weight: 600;
    margin: 12px;
}
#Events .icons{
    position: relative;
    top: -83px;
    right: -247px;    
}
#Events .icons > img{
    width: 27px;
    cursor: pointer;
    margin: 3px;
}

#Events .update{
    position: fixed;
    border: 1px solid black;
    background: white;
    top: -18%;
    right: -18%;
    height: fit-content;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 22rem;
    padding: 14px;
    box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.1);
    display: none;
}
#Events .update span{
    color: black;
}
#Events .update >h1 {
    color: black;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
#Events .update >h1 img {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 23px;
    cursor: pointer;
}
#Events .updateEntry{
    margin: 6px 0;
}
#Events input{
    height: 27px;
    border-radius: 7px;
    border: 1px solid;
    margin-left: 21px;
}
#Events .submit{
    padding: 10px;
    width: 27%;
    position: relative;
    left: 37%;
}
