
  #Login form {
    border: 2px solid #f1f1f1;
    border-radius: 16px;
    background: white;
    width: 24rem;
  }
  
    #Login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  #Login button {
    background-color: #1166F1;
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 34%;
    border-radius: 8px;
  }
  
  #Login button:hover {
    opacity: 0.8;
  }
  
    #Login .container {
    padding: 16px;
    border-radius: 8px;
  }

    #Login .entries{
    font-size: 18px;
    font-weight: 100;
  }

    #Login .createacc{
    color: grey;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
  }
    #Login .createacc:hover{
    text-decoration: underline;
  }

    #Login .login-heading{
    margin-top: 16px;
    font-weight: 100;
    font-style: oblique;
    font-size: 27px;
    margin-bottom: 0;
    text-align: center;
  }
  
    #Login span.psw {
    float: right;
    padding-top: 16px;
  }
  
  #signup{
      display: block;
      margin: auto;
  }