*{
  box-sizing: border-box;
}

body{
  background-color: #ff3939;
  /* background-color: rgb(250, 199, 199); */
  margin: 0;
  padding: 0;
}

#outer-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  padding: 10px;
}